<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	
	<!-- Appenders : 출력방식,설정 부분 -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- <param name="ConversionPattern" value="%-5p : %l - %m%n" /> -->
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %-5p : [%l] - %m%n"/>
		</layout>
		<!-- 간단하게 출력 : <layout class="org.apache.log4j.SimpleLayout"/> -->
		<!-- html로 출력 : <layout class="org.apache.log4j.HTMLLayout"/> -->
		<!-- xml방식으로 출력 : <layout class="org.apache.log4j.xml.XMLLayout"/> -->
	</appender>
	
	<!-- 파일로 로그를 출력하는 appender등록하기 -->
	<appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="c:/logs/spring-log.log"/>
		<param name="append" value="true"/>
		<param name="datePattern" value="yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<!-- <param name="ConversionPattern" value="%-5p : %l - %m%n" /> -->
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %-5p : [%l] - %m%n"/>
		</layout>
	</appender>
	
	
	<!-- sql문을 출력하는 logger등록하기 -->
	<appender name="sqlLogger" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p : %m%n "/>
		</layout>
	</appender>
	<logger name="jdbc.sqlonly" additivity="false">
		<level value="info"/>
		<appender-ref ref="sqlLogger"/>
	</logger>
	<logger name="jdbc.resultsettable" additivity="false">
		<level value="info"/>
		<appender-ref ref="sqlLogger"/>
	</logger>
	
	
		<!-- Application Loggers -->
	<logger name="com.bs.spring"> <!-- 로그가 발생하는 위치선택 -->
		<level value="debug" /> <!-- 용도에 따른 레벨 -->
		<appender-ref ref="fileAppender"/> <!--일부에만 다른 appender를 추가하는 방법: (root와 개별 appender둘다 설정된다.)-->
	</logger>
	
	<!-- 3rdparty Loggers : 라이브러리 중에서 로그를 사용할 떄 설정 -->
	<logger name="org.springframework.core"> 
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger : Logger의 전체적인 설정을 할때,
	 Logger의 상위객체인 Root Logger에서 설정하여 일괄적으로 변경가능 -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>